$header-height: 8rem;

@media (max-width: 750px) {
   .header__title {
      font-size: $font-size-medium;
   }
   .header__made-by {
      font-size: $font-size-small;
   }
}

@media (min-width: 750px) {
   .header__title {
      font-size: $font-size-large;
   }
   .header__made-by {
      font-size: $font-size-medium;
   }
}

.header {
   background: $black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   height: $header-height;
   width: 100%;
}

.header__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__title {
   color: $white;
   padding: $default-padding;
}

.header__made-by {
   color: $white;
   padding: $default-padding;
   opacity: .9;
}