$white: #f0f5f9;
$darker-white: #f6fbff;
$gray: #ababac;
$dark-gray: #1e2022;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$icons-color: #000000;

$font-size-large: 3rem;
$font-size-medium: 2rem;
$font-size-small: 1rem;

$header-height: 80px;

$wrapper-max-width: 1024px;
$wrapper-padding: 16px;

$separator-margin: 3.5rem;
$inner-padding: 3.5rem;